<div id="third-block">

   <div class="line" id="calendar-wrapper">
      <hr class="top" width="1200px">
      <!--<iframe src="https://calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=900&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;src=6ttbr5iibk4shn637db72pb0p2gs0vec%40import.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="1200" height="900" frameborder="0" scrolling="no"></iframe> 
      -->
	  <div id='loading'>loading...</div>
	  <div id="calendar"></div>
   </div>
</div>