<div id="content" class="left-align contact-page">
   <div class="line">
      <div class="margin">
         <div id="info"><span id="info-msg"></span></div>
		 <div id="success"><span id="success-msg"></span></div>
		 <div id="warning"><span id="warning-msg"></span></div>
		 <div id="error"><span id="error-msg"></span></div>

		 <div class="s-12 l-6">
            <h2>Charlotte - Cozy Country Bungalow</h2>
            <address>
               <p style="margin:.5em 0"><img src="img/icons/location.png" style="display:inline-block;height:2em;margin-bottom:-.6em;"/></i> &nbsp;&nbsp;Canby, Oregon</p>
			   <p style="margin:.5em 0"><img src="img/icons/phone.png" style="display:inline-block;height:2em;margin-bottom:-.6em;"/> &nbsp;&nbsp;(503) 263-6315</p>
               <p style="margin:.5em 0"><img src="img/icons/envelope.png" style="display:inline-block;height:2em;margin-bottom:-.6em;"/> &nbsp;&nbsp;charlotte@canby.com</p>
            </address>
            <br />
            <h2>Other Websites</h2>
			<p style="margin:.5em 0"><a href="#" style="display: inline"><img class="link" src="img/icons/home.png" style="display:inline-block;height:2em;margin-bottom:-.3em;"/> &nbsp;&nbsp;Molalla Rental</p></a>
            <p style="margin:.5em 0"><a href="#" style="display: inline"><img class="link" src="img/icons/garden.png" style="display:inline-block;height:2em;margin-bottom:-.3em;"/> &nbsp;&nbsp;Gardening Website</p></a>
         </div>
         <div class="s-12 l-6">
            <h2>Message Us</h2>
            <form class="customform" action="">	
               <div class="s-12 l-7"><input id="phone" placeholder="Enter phone ..." type="text" /></div>
               <div class="s-12 l-7"><input id="name" placeholder="Enter name ..." type="text" /></div>
               <div class="s-12"><textarea placeholder="Enter message ..." id="message" rows="5"></textarea></div>
               <div class="s-12 m-6 l-4"><button id="send" type="button" href="javascript:void(0)">Send</button></div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- MAP -->	
<div id="map-block">
   <iframe id="map-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d357686.89654652704!2d-122.94498107149573!3d45.54169734356449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495646d0942d115%3A0x978030d4bb60fd6a!2sS+Gribble+Rd+%26+S+Dryland+Rd%2C+Canby%2C+OR+97013!5e0!3m2!1sen!2sus!4v1512964790280" width="100%" height="700" frameborder="0" style="border:0"></iframe>
</div>