<div id="first-block" class="gallery">
   <div class="wrap">
      <ul>
		 <hr class="top">
		 <li><a href="img/gallery/frontdoor.jpg" title="Front door to apartment opens from patio."><img class="thumbs" src="img/gallery/thumbs/frontdoor.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/kitchen.jpg" title="Convenient kitchen with dishwasher, microwave, range/oven, coffee maker, and refrigerator."><img class="thumbs" src="img/gallery/thumbs/kitchen.jpg" alt="" /></a></li>
		 <li><a href="img/gallery/kitchen2.jpg"><img class="thumbs" src="img/gallery/thumbs/kitchen2.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/livingroom.jpg" title="Standing at the back door, a view of the kitchen, living room, and a glimpse of the sleeping area."><img class="thumbs" src="img/gallery/thumbs/livingroom.jpg" alt="" /></a></li>
		 <li><a href="img/gallery/livingroom2.jpg" title="Cozy living room with two sofas and Morris chair for relaxing."><img class="thumbs" src="img/gallery/thumbs/livingroom2.jpg" alt="" /></a></li>
		 <li><a href="img/gallery/livingroom3.jpg"><img class="thumbs" src="img/gallery/thumbs/livingroom3.jpg" alt="" /></a></li>
		 <li><a href="img/gallery/livingroom4.jpg"><img class="thumbs" src="img/gallery/thumbs/livingroom4.jpg" alt="" /></a></li>
		 <li><a href="img/gallery/livingroom5.jpg" title="Navy leather sofa sleeper, in living and dining area as seen from front entrance."><img class="thumbs" src="img/gallery/thumbs/livingroom5.jpg" alt="" /></a></li>
		 <li><a href="img/gallery/bookshelf.jpg" title="Browse in Dad's library with lots of good books on Oregon history, geology, Oregon Trail stories, and enjoyable fiction."><img class="thumbs" src="img/gallery/thumbs/bookshelf.jpg" alt="" /></a></li>
		 <li><a href="img/gallery/room.jpg" title="Sleeping area with queen bed with memory foam topper. This room is semi-private; divided from living area by closet and bookshelves."><img class="thumbs" src="img/gallery/thumbs/room.jpg" alt="" /></a></li>
		 <li><a href="img/gallery/bathroom.jpg" title="Bathroom has large stall shower, and linen cabinet."><img class="thumbs" src="img/gallery/thumbs/bathroom.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/privateentrance.jpg" title="Bathroom sink, vanity, and linen closet."><img class="thumbs" src="img/gallery/thumbs/privateentrance.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/fallcherryblossoms.jpg" title="Springtime along our driveway."><img class="thumbs" src="img/gallery/thumbs/fallcherryblossoms.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/flowers.jpg"><img class="thumbs" src="img/gallery/thumbs/flowers.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/forest.jpg"><img class="thumbs" src="img/gallery/thumbs/forest.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/hayfield.jpg"><img class="thumbs" src="img/gallery/thumbs/hayfield.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/patiotable.jpg" title="Enjoy relaxing on the covered porch in front of the apartment."><img class="thumbs" src="img/gallery/thumbs/patiotable.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/patiotable2.jpg" title="Private covered patio to enjoy the view, and your morning coffee!"><img class="thumbs" src="img/gallery/thumbs/patiotable2.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/picnictables.jpg" title="Picnic area in our woods for your enjoyment."><img class="thumbs" src="img/gallery/thumbs/picnictables.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/winterpond.jpg" title="Our pond and woods in winter frost and snow."><img class="thumbs" src="img/gallery/thumbs/winterpond.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/frozenpond.jpg" title="Occasionally our pond freezes in winter."><img class="thumbs" src="img/gallery/thumbs/frozenpond.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/crane.jpg" title="Great Blue Heron standing on our bridge; hunting frogs in our pond."><img class="thumbs" src="img/gallery/thumbs/crane.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/bridge.jpg"><img class="thumbs" src="img/gallery/thumbs/bridge.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/bridge2.jpg" title="Little bridge over our creek."><img class="thumbs" src="img/gallery/thumbs/bridge2.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/bridge3.jpg" title="View of the pond and bridge from the woods."><img class="thumbs" src="img/gallery/thumbs/bridge3.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/yard.jpg" title="Wander our ten acres and enjoy nature at its finest! Lots of bunnies, sometimes deer, great blue herons at our pond, and occasionally a few skunks passing through in the night."><img class="thumbs" src="img/gallery/thumbs/yard.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/yard2.jpg"><img class="thumbs" src="img/gallery/thumbs/yard2.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/yard3.jpg"><img class="thumbs" src="img/gallery/thumbs/yard3.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/yard4.jpg"><img class="thumbs" src="img/gallery/thumbs/yard4.jpg" alt=""  /></a></li>
		 <li><a href="img/gallery/yard5.jpg"><img class="thumbs" src="img/gallery/thumbs/yard5.jpg" alt=""  /></a></li>
	     <div class="clear"></div>
      </ul>
   </div>
</div>
	
