<!-- FIRST BLOCK --> 	
   <div id="first-block">
      <div class="line">
		 <hr width="100%" align="center">
         <h2>Cozy Country Bungalow</h2>
         <p class="subtitile">Fully furnished studio apartment on a quaint, scenic, 10-acre farm &nbsp;&middot;&nbsp; Canby, Oregon
         </p>
         <div>
            <div class="s-12 margin-bottom">
               <ul class="horizontal-list">
			     <li><img src="img/icons/guests.jpg" />4 guests</li>
			     <li><img src="img/icons/bedroom.jpg" />1 bedroom</li>
			     <li><img src="img/icons/beds.jpg" />2 beds</li>
				 <li><img src="img/icons/bathroom.jpg" />1 bath</li>
			   </ul>
               <ul class="vertical-list">
			     <li>* &nbsp;Cozy studio apartment on ten-acre farm.</li>
			     <li>* &nbsp;Can sleep 4; ideal for 2. </li>
				 <li>* &nbsp;1 Bedroom w/queen sized bed, and 1 sofa bed in common space.</li>
			     <li>* &nbsp;Complete kitchen w/range, dishwasher, microwave, refrigerator, toaster, and coffeemaker.</li>
				 <li>* &nbsp;Large bathroom, sleeping area with queen bed, living/dining area with queen sofa sleeper, and convenient laundry facility.</li>
				 <li>* &nbsp;Wireless internet and wall-mounted 40" Smart TV with Netflix.</li>
				 <li>* &nbsp;Relax on your private covered patio, or go for a stroll on our land.</li>
				 <li>* &nbsp;Enjoy a campfire in the woods (seasonal). Creek, pond, bridge, & view to enjoy.</li>
			   </ul>
			   <div class="hidden" id="hidden-description">
			      <h3 id="first-hidden">The Apartment</h3>
				  <p class="description">
					 Great location in the scenic Willamette Valley. Compact but well-planned living space; approximately 600 sq. ft. Full kitchen, large bath, open living area, semi-private bedroom sleeping area. Lots of green space and privacy to enjoy your country stay. Conveniently located near Portland, Mt. Hood, The Oregon Garden, many wineries, bicycle trails, hiking, and many other local activities.
				  </p>
				  <h3>Guest Access</h3>
				  <p class="description">
					 The apartment is located near our home, but offers plenty of solitude if desired. Enjoy walking around our 10 acres; walking trails, lots of beautiful scenery, wild life, and nature at its finest. Most of the time it is very quiet except for birds and other animal sounds. Occasionally there are farming activities taking place nearby.
				  </p>
				  <h3>Additional Information</h3>
				  <p class="description">
					 Bedding for sleeper sofa located in front closet. Also a memory foam topper is in the closet for the sleeper sofa if desired. House key in lock box near front door. Laundry detergent supplied in laundry area.
				  </p>
			   </div>
			   <div class="hide-show">
			      <a id="hide-description" class="hidden">&#x276E; Hide extra content</a>
			      <a id="more-description">Read entire description &#x276F;</a>
			   </div>
            </div>
         </div>
		 <hr width="100%" align="center">
		 <!-- SECOND BLOCK -->
		 <div id="amenities">
		    <h3>Amenities</h3>
			<table id="amenities-table"><tr>
			   <td><p class="description">* &nbsp;Pets Allowed</p></td>
			   <td><p class="description">* &nbsp;Full Kitchen</p></td>
			</tr><tr>
			   <td><p class="description">* &nbsp;Parking on Premises</p></td>
			   <td><p class="description">* &nbsp;Wireless Internet</p></td>
			</tr><tr class="hidden hidden-tr">
			   <td><p class="description">* &nbsp;Washer/Dryer</p></td>
			   <td><p class="description">* &nbsp;Laptop Friendly Workspace</p></td>
			</tr><tr class="hidden hidden-tr">
			   <td><p class="description">* &nbsp;Essential Toiletries</p></td>
			   <td><p class="description">* &nbsp;Smoking Allowed Outside</p></td>
			</tr><tr class="hidden hidden-tr">
			   <td><p class="description">* &nbsp;Shampoo/Soap</p></td>
			   <td><p class="description">* &nbsp;Clothing Hangers</p></td>
			</tr><tr class="hidden hidden-tr">
			   <td><p class="description">* &nbsp;Hair Dryer</p></td>
			   <td><p class="description">* &nbsp;Heating</p></td>
			</tr><tr class="hidden hidden-tr">
			   <td><p class="description">* &nbsp;Private Entrance</p></td>
			   <td><p class="description">* &nbsp;Iron/Ironing Board</p></td>
			</tr></table>
			<div class="hide-show">
			   <a id="hide-amenities" class="hidden">&#x276E; Hide extra content</a>
			   <a id="more-amenities">Read entire list &#x276F;</a>
			</div>
		 </div>
		 <hr width="100%" align="center" style="margin-top: 1em">
		 <!-- THIRD BLOCK -->
		 <div>
		    <h3>Prices</h3>
			<table class="no-background"><tr>
			   <td><p class="description">Cost: &nbsp;<strong>$49/night</strong></p></td>
			   <td><p class="description">Extra people: &nbsp;<strong>$10/night after 2</strong></p></td>
			</tr><tr>
			   <td><p class="description">Cleaning Fee: &nbsp;<strong>$50</strong></p></td>
			   <td><p class="description">Weekly Discount: &nbsp;<strong>12%</strong></p></td>
			</tr><tr>
			   <td><p class="description">Security Deposit: &nbsp;<strong>$250</strong></p></td>
			   <td><p class="description">Monthly Discount: &nbsp;<strong>25%</strong></p></td>
			</tr></table>
		 </div>
		 <hr width="100%" align="center">
		 <!-- FOURTH BLOCK -->
		 <div class="s-12 margin-bottom">
		    <h3>House Rules</h3>
		    <ul class="vertical-list" style="margin-bottom: 1em">
			   <li>No smoking inside the apartment</li>
			   <li>No parties or events </li>
			   <li>Check-in is anytime after 4PM</li>
			   <li>Check out by 11AM</li>
			   <li>Self check-in with lockbox</li>
			</ul>
			<hr class="left" width="15%" align="left">
			<ul class="vertical-list" style="margin: 1.8em 0">
			   <li>Smoking is permitted outdoors</li>
			</ul>
		 </div>
		 <hr width="100%" align="center">
		 <!-- FIFTH BLOCK -->
		 <div class="s-12 margin-bottom" id="hidden-description">
		    <h3>Cancellations</h3>
			<p class="description" id="cancel-description">
			   Cancel up to 24 hours before check in and get a full refund (minus service fees). Cancel within 24 hours of your trip and the first night is non-refundable. Service fees are refunded when cancellation happens before check in and within 48 hours of booking.
			</p>
			<ul class="vertical-list hidden" id="cancel-list">
			   <li> &nbsp;Cleaning fees are always refunded if the reservation is canceled before check-in.</li>
			   <li> &nbsp;For a full refund of accommodation fees, cancellation must be made a full 24 hours prior to listing’s local check in time (or 3:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by Thursday of that week before check in time.</li>
			   <li> &nbsp;If the guest cancels less than 24 hours before check-in, the first night is non-refundable.</li>
			   <li> &nbsp;If the guest arrives and decides to leave early, the accommodation fees for the nights not spent 24 hours after the official cancellation are fully refunded.</li>
			</ul>
			<div class="hide-show">
			   <a id="hide-cancellation" class="hidden">&#x276E; Hide extra content</a>
			   <a id="more-cancellation">Get details &#x276F;</a>
			</div>
		 </div>
		 <hr width="100%" align="center">
		 <!-- SIXTH BLOCK -->
		 <div>
		    <h3>Safety Features</h3>
			<table class="no-background"><tr>
			   <td><p class="description">Smoke Detector</p></td>
			   <td><p class="description">Safety Card</p></td>
			</tr><tr>
			   <td><p class="description">Carbon Monoxide Detector</p></td>
			   <td><p class="description">Fire Extinguisher</p></td>
			</tr><tr>
			   <td><p class="description">First Aid Kit</p></td>
			   <td><p class="description"></p></td>
			</tr></table>
		 </div>
		 <hr width="100%" align="center">
		 <div class="s-12 margin-bottom" id="hidden-description">
		    <h3>Availability</h3>
			<ul class="vertical-list">
			   <li><strong>2 nights</strong> minimum stay</li>
			</ul>
			<div class="hide-show">
			   <a href="calendar"><img src="img/icons/date.png" style="display:inline-block;height:1.5em;margin-bottom:-.3em;"/> &nbsp;&nbsp;View Reservation Calendar</a>
			</div>
		 </div>
		 <hr width="100%" align="center">
      </div>
   </div>


