<div id="first-block">
   <div class="line" id="reviews">
      <div class="review">
         <div class="pic">
            <img src="img/testimonials/test-Ilan.jpg" alt="">
         </div>
         <div class="review-profile">
		    <p class="review-description">
               Landed pretty late from Florida at PDX, 35 min later was greeted by Charlotte on a beautiful property with everything described. Clean, quiet, and she was always just a phone call away!!
		    </p>
            <h3 class="title">Ilan</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">November 2017</span>
         </div>
      </div>
      <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-terri.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               I stayed for two nights with my dog. The apartment was lovely- impeccably clean, comfortable furniture, cute layout. Charlotte provided coffee and creamer and some small snacks. She met me when I arrived and showed me around. This is a large beautiful property in the middle of farmland. It is so quiet, peaceful and serene. Yet, it is within about 10 minutes of plenty of shopping in Canby, and about 30-45 minutes from Portland. You can't walk to the local pub, but if you are looking for a quiet getaway that is still near shopping this is a great place. It was a perfect place to stay for my needs. I wanted to be able to have a quiet place to return to after a workshop I was attending in Portland, where my dog could get some great exercise and not have to worry about leashing her up to go out. There is a nice little pond, and a small wooded area that has picnic tables for you to sit and enjoy the serenity.
            </p>
            <h3 class="title">Terri</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">October 2017</span>
         </div>
      </div>
	  <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-kylie.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               This place was peaceful, comfortable, and inviting. The hosts could not be nicer. They even had a cozy fire waiting for us. Had a great stay and good sleep. We plan to stay again and will recommend to friends.
            </p>
            <h3 class="title">Kylie</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">October 2017</span>
         </div>
      </div>
	  <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-robert.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               This bungalow is a gem! My husband and I are from a large city, and wanted a change of pace for our short vacation. Charlotte greeted us as we arrived, and immediately made us feel at home. Her husband Val had already started a fire in the wood burning stove for us, so our first evening set the mood for a relaxing, stress-free stay. We felt complete privacy, yet also felt completely welcomed in their beautiful home. We plan to return to visit again!
            </p>
            <h3 class="title">Robert</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">October 2017</span>
         </div>
      </div>
	  <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-connor.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               Awesome place, awesome host:) highly recommended
            </p>
            <h3 class="title">Connor</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">October 2017</span>
         </div>
      </div>
	  <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-patti.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               So charming and peaceful. Lovely setting. The kitchen was fully outfitted and Charlotte even left a basket of snacks. Will definitely be back!
            </p>
            <h3 class="title">Patti</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">October 2017</span>
         </div>
      </div>
	  <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-alanna.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               Charlotte is incredibly accommodating, understanding and quick to respond. We stayed for the weekend and loved it. The property is gorgeous, and the bungalow had everything we needed. It's very sweet and cozy. This is a great country getaway and a comfortable place to stay in a peaceful environment. We hope to return when we're back in the area!
            </p>
            <h3 class="title">Alanna</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">October 2017</span>
         </div>
      </div>
	  <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-aminta.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               My husband and I had a wonderful stay at Charlotte's cute bungalow. We brought our 4 month old and enjoyed a quiet weekend out in nature. The property has some beautiful walking paths, and is easily 1/4 mile off the street which keeps the noise down. This cute bungalow was impeccably clean, and the check in process was so easy. The lights were already on when we arrived and we found it very welcoming. The bed is super comfortable too! Great value, friendly owners, and overall a wonderful stay. We will definitely be coming back soon!
            </p>
            <h3 class="title">Aminta</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">October 2017</span>
         </div>
      </div>
	  <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-kristi.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               Great hosts. We had privacy, but they were just a text or call away. We had everything we needed waiting for us. We enjoyed our stay and would stay again.
            </p>
            <h3 class="title">Kristi</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">October 2017</span>
         </div>
      </div>
	  <div class="review">
		 <div class="pic">
            <img src="img/testimonials/test-joel.jpg" alt="">
         </div>
		 <div class="review-profile">
            <p class="review-description">
               Quiet and quaint, this location is for anyone looking to get away from the busy city life. Charlotte was a great host and promptly responded to our questions as we planned our stay. The studio apartment was cozy, clean and comfortable. My wife and I hope to stay here again in the future!
            </p>
            <h3 class="title">Joel</h3>
			<fieldset class="rate">
			   <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
			   <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
			   <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
			   <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
			   <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
			   <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
			   <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
			   <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
			   <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
			   <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
			</fieldset>
            <span class="post">September 2017</span>
         </div>
      </div>
	  
   </div>
</div>